.gameBlock {
    background-color:black;
    border: solid;
    border-color: whitesmoke;
    cursor: pointer;
}

.gameBlockNumber {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    background-color: whitesmoke;
    cursor: default;
}