.gameBlock {
    background-color:#464e56;
    border: solid;
    border-color: #62686e;
    cursor: pointer;
}

.gameBlockNumber {
    font-family: "Tiny5";
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    cursor: default;
    font-weight: 400;
    background-color: #62686e;
}

.gameBlockNumberDangerVeryLight {
    color: limegreen;
}

.gameBlockNumberDangerLight {
    color: green;
}

.gameBlockNumberDangerMedium {
    color: orange;
}

.gameBlockNumberDangerHeavy {
    color: red;
}

.gameBlockNumberDangerOverkill {
    color: purple;
}

.gameBlockFlagged {
    background-color: yellow;
}

.gameBlockHidden {
    visibility: hidden;
}

.gameBlockDebug {
    background-color: gray;
}

.gameBlockMineRevealed {
    background-color: red;
}